





.coin-container{
    display: flex;
    justify-content: center;
}


.coin-table-container{
    /* border: 1px solid red; */
    padding: 1rem;
}

.coin-table-headers-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    /* margin-left: 10px; */
    /* margin-bottom: 50px; */
    align-items: center;
    height: 100px;
    /* border: 1px solid lime; */
    padding: 1rem;
}

.mcap-header{
    margin-left: 25px;
}

.perc-change-header{
    margin-left: 10px;
}

.volume-header{
    margin-left: 20px;
}


.coin-table-header{
    color: rgb(77, 191, 176);
    font-size: 22px;
}

.coin-table-header-2,
.coin-table-header-1 {
    display: flex;
}


.coin-table-header-1{
    /* border: 1px solid lime; */
    gap: 50px;
}


.coin-table-header-2{
    /* border: 1px solid lime; */
    gap: 60px;
    margin-right: 53px;
}




.currency-name-title:hover{
    color: rgb(89, 183, 183);
    cursor: pointer;
}


.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    /* border-bottom: 1px solid #d7d7d7; */
    border-top: 1px solid #d7d7d7;
    width: 1100px;
}




.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}


.coin h1{
   font-size: 16px;
   width: 150px;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


.coin-symbol {
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}


.coin-price {
    width: 110px;
}

.coin-volume{
    width: 200px;
   
}

.coin-marketcap{
    width: 240px;
}

.coin-percent {
    width: 80px;
}



.red{
    color: #f00606;
}

.green {
    color: #11d811;
}


/* HEADER */

